
:root {
  --pri: #3057E1;
  --privari: #4A6FF5;

  --sec: #FF8C42;
  --secvari: #FF9F5C;

  --bg: #242424;
  --card: #010101;

  --err: #E53935;

  --onpri: #FFFFFF;
  --onsec: #FFFFFF;
  --onbg: #1C1F23;
  --oncard: #1C1F23;
  --onerr: #FFFFFF;
}

[data-theme="light"] {
  --pri: #3057E1;
  --privari: #4A6FF5;

  --sec: #FF8C42;
  --secvari: #FF9F5C;

  --bg: #efefef;
  --card: #010101;

  --err: #E53935;

  --onpri: #FFFFFF;
  --onsec: #FFFFFF;
  --onbg: #1C1F23;
  --oncard: #1C1F23;
  --onerr: #FFFFFF;

    color-scheme: light;
}


/* set to dark mode in index.html */
[data-theme="dark"] {
  --pri: #3057E1;
  --privari: #4A6FF5;

  --sec: #FF8C42;
  --secvari: #FF9F5C;

  --bg: #242424;
  --card: #FAFAFA;

  --err: #E53935;

  --onpri: #FFFFFF;
  --onsec: #FFFFFF;
  --onbg: #efefef;
  --oncard: #1C1F23;
  --onerr: #FFFFFF;

    color-scheme: dark;

}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}



html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}


#app {
  width: 100%;
  text-align: center;
}


a {
  font-weight: 500;
  color: var(--onbg);
  text-decoration: inherit;
}
